$inputWrapperHeight: 120px;

.item-list-wrapper {
  //height: 100vh;
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #f5f7fa;
  //overflow: auto;

  .search-input-wrapper {
    /*position: fixed;
    top: 0px;*/
    width: 100%;
    height: $inputWrapperHeight;

    background: #f5f7fa;
    //overflow:hidden;

    .search-input {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      margin-top: ($inputWrapperHeight - 80px) / 2;
      //margin-top: 20px;
      --height: 80px;
      --border-radius: 40px;
      --background: #fff;
    }

    .search-loading {
      width: 100px;
      height: 60px;
      position: fixed;
      top: 45px;
      right: 55px;
    }

    .adm-search-bar .adm-search-bar-input-box .adm-search-bar-input .adm-input-element {
      font-size: 32px;
      line-height: 32px;
    }
    .adm-search-bar .adm-search-bar-input-box .adm-search-bar-input-box-icon {
      font-size: 38px;
      line-height: 38px;
    }
  }

  .list-wrapper {
    flex: 1;
    overflow: auto;
    //background: #7d4fa7;
    //position: fixed;
    width: 100%;

    a {
      color: #333 !important
    }
    //top: $inputWrapperHeight +ã€€120px;
    //bottom: 300px;

    .item-category {
      display: inline-block;
      margin-left: 20px;
      padding: 2px 4px;
      background: #1677ff;
      color: #fff;
    }

    .adm-list-item-description {
      margin-top: 10px;
    }
  }
}