body {
  /*字体族*/
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  /*字体颜色*/
  color: #333;
  /*最小宽度, 设置后浏览器视口缩小到min-width以下, body宽度仍为min-width*/
  min-width: 1226px;
  height: 1500px;
  background-color: #fff;
}
.header .top-bar {
  height: 40px;
  background-color: #333;
}
.header .top-bar .container {
  width: 1226px;
  margin: 0 auto;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
}
.header .top-bar .container a {
  font-size: 12px;
  /* inline-block 让鼠标划入块中就相当于划入a标签*/
  display: inline-block;
  color: #b0b0b0;
  text-decoration: none;
}
.header .top-bar .container a:hover {
  color: #fff;
}
.header .top-bar .container .line {
  /* .3em = 0.3*(font-size: 12px)=3.6px */
  margin: 0 0.3em;
  color: #424242;
}
.header .top-bar .container .top-bar-nav {
  /*float: left;*/
  /*background-color: aquamarine;*/
  font-size: 12px;
  float: left;
}
.header .top-bar .container .top-bar-nav a {
  line-height: 40px;
  display: inline-block;
  color: #b0b0b0;
  text-decoration: none;
}
.header .top-bar .container .top-bar-nav a:hover {
  color: #fff;
}
.header .top-bar .container .top-bar-nav .line {
  /* .3em = 0.3*(font-size: 12px)=3.6px */
  margin: 0 0.3em;
  color: #424242;
}
.header .top-bar .container .top-bar-nav .downloadApp {
  position: relative;
}
.header .top-bar .container .top-bar-nav .downloadApp .triangle {
  width: 0;
  height: 0;
  border: 8px solid #fff;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 24px;
  left: 14px;
  display: none;
  z-index: 9999;
}
.header .top-bar .container .top-bar-nav .downloadApp .qrCode {
  width: 124px;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: -40px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* transition: 用于为样式设置过渡效果 */
  transition: height 0.3s;
}
.header .top-bar .container .top-bar-nav .downloadApp .qrCode img {
  width: 90px;
  margin: 17px;
  margin-bottom: 10px;
}
.header .top-bar .container .top-bar-nav .downloadApp .qrCode span {
  color: #424242;
  font-size: 14px;
  line-height: 1;
  margin-left: 19px;
}
.header .top-bar .container .top-bar-nav .downloadApp:hover .qrCode {
  height: 148px;
}
.header .top-bar .container .top-bar-nav .downloadApp:hover .qrCode img {
  display: block;
}
.header .top-bar .container .top-bar-nav .downloadApp:hover .qrCode span {
  display: block;
}
.header .top-bar .container .top-bar-nav .downloadApp:hover .triangle {
  display: block;
}
.header .top-bar .container .top-bar-userInfo {
  float: right;
  margin-right: 25px;
}
.header .top-bar .container .top-bar-shopCar {
  width: 120px;
  height: 40px;
  float: right;
  background-color: #424242;
  box-sizing: border-box;
  position: relative;
}
.header .top-bar .container .top-bar-shopCar a {
  height: 40px;
  width: 120px;
  text-align: center;
  box-sizing: border-box;
}
.header .top-bar .container .top-bar-shopCar .icon-gouwuchekong {
  font-size: 15px;
}
.header .top-bar .container .top-bar-shopCar:hover a {
  color: #ff6700;
  background-color: #fff;
}
.header .top-bar .container .top-bar-shopCar .top-bar-shopCar-menu {
  width: 315px;
  height: 0;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  right: 195px;
  top: -1px;
  display: block;
  overflow: hidden;
  transition: height 0.3s;
  text-align: center;
  z-index: 99999;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.header .top-bar .container .top-bar-shopCar .top-bar-shopCar-menu .empty-msg {
  color: #333;
  line-height: 100px;
}
.header .top-bar .container .top-bar-shopCar:hover .top-bar-shopCar-menu {
  height: 100px;
}
.header .top-header {
  width: 100%;
  height: 100px;
  position: relative;
}
.header .top-header .container {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
}
.header .top-header .container .header-logo {
  float: left;
  width: 55px;
  height: 55px;
  margin-top: 22.5px;
  background-color: #ff6700;
  position: relative;
  overflow: hidden;
}
.header .top-header .container .header-logo a {
  /*让文字向左缩进*/
  text-indent: -99999px;
  width: 55px;
  height: 55px;
  /*绝对定位会改变元素的性质，行内变成块，块的宽高被内容撑开*/
  position: absolute;
  background-position: center;
  transition: left 0.2s;
}
.header .top-header .container .header-logo .mi-logo {
  left: 0px;
  background-image: url("../img/mi-logo.png");
}
.header .top-header .container .header-logo .mi-home {
  left: -55px;
  background-image: url("../img/mi-home.png");
}
.header .top-header .container .header-logo:hover .mi-logo {
  left: 55px;
}
.header .top-header .container .header-logo:hover .mi-home {
  left: 0px;
}
.header .top-header .container .header-nav {
  width: 850px;
  height: 100px;
  background-color: #fff;
  margin-left: 6px;
  float: left;
}
.header .top-header .container .header-nav ul li {
  float: left;
  font-size: 16px;
  line-height: 100px;
  height: 100px;
}
.header .top-header .container .header-nav ul li a {
  color: #333;
  padding: 0 10px;
  text-decoration: none;
}
.header .top-header .container .header-nav ul li a:hover {
  color: #ff6700;
}
.header .top-header .container .header-nav ul .Js-header-nav-li:hover ~ .header-nav-menu {
  border-top: 1px solid #e0e0e0;
  height: 200px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}
.header .top-header .container .header-nav ul .header-nav-menu {
  width: 100%;
  height: 0;
  box-sizing: border-box;
  border-top: none;
  /*设置透明的1px,防止隐藏式内部抖动*/
  overflow: hidden;
  background-color: #fff;
  /*
            给父级元素top-header(宽度满屏) 相对定位
            开启自身绝对定位
            则自身宽度可以继承自top-header, 达到满屏效果
            */
  position: absolute;
  top: 99px;
  left: 0;
  transition: 0.3s;
  z-index: 999;
}
.header .top-header .container .header-nav ul .header-nav-menu:hover {
  height: 200px;
  border-top: 1px solid #E0E0E0;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}
.header .top-header .container .header-nav ul .all-goods {
  margin-left: 52px;
  margin-right: 5px;
  position: relative;
}
.header .top-header .container .header-nav ul .all-goods a:hover {
  color: #333;
}
.header .top-header .container .header-nav ul .all-goods .categoryList {
  width: 234px;
  height: 420px;
  padding: 20px 0;
  position: absolute;
  top: 100px;
  left: -113px;
  background: rgba(105, 101, 101, 0.6);
  z-index: 99;
}
.header .top-header .container .header-nav ul .all-goods .categoryList li {
  width: 100%;
  height: 42px;
}
.header .top-header .container .header-nav ul .all-goods .categoryList li a {
  display: block;
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 14px;
  color: #fff;
}
.header .top-header .container .header-nav ul .all-goods .categoryList li a:hover {
  background-color: #ff6700;
}
.header .top-header .container .header-nav ul .all-goods .categoryList li a .icon-tubiaozhizuo-:before {
  font-size: 14px;
  float: right;
  color: #E0E0E0;
}
.header .top-header .container .header-search {
  float: right;
  width: 296px;
  margin-top: 25px;
  height: 50px;
  transition: border 0.3s;
}
.header .top-header .container .header-search input.search-txt {
  box-sizing: border-box;
  width: 245px;
  height: 50px;
  padding: 0 10px;
  float: left;
  outline: none;
  border: 1px solid #e0e0e0;
  border-right: none;
  transition: border 0.3s;
}
.header .top-header .container .header-search input.search-txt:hover {
  border-color: #b0b0b0;
}
.header .top-header .container .header-search input.search-txt:hover + .search-btn {
  border-color: #b0b0b0;
}
.header .top-header .container .header-search input.search-txt:focus {
  border-color: #ff6700;
}
.header .top-header .container .header-search input.search-txt:focus ~ .search-btn {
  border-color: #ff6700;
}
.header .top-header .container .header-search input.search-txt:focus ~ .search-key-words {
  height: 180px;
  border: 1px solid #ff6700;
  border-top: none;
}
.header .top-header .container .header-search .search-btn {
  width: 51px;
  height: 50px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  transition: border, background-color 0.3s;
}
.header .top-header .container .header-search .search-btn:hover {
  background-color: #ff6700;
  border-color: transparent;
}
.header .top-header .container .header-search .search-btn:hover span {
  color: #fff;
}
.header .top-header .container .header-search .search-btn span {
  width: 51px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #616161;
  line-height: 50px;
  padding-left: 15px;
}
.header .top-header .container .header-search .search-key-words {
  width: 246px;
  height: 181px;
  position: absolute;
  box-sizing: border-box;
  top: 75px;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 999;
}
.header .top-header .container .header-search .search-key-words li {
  height: 30px;
}
.header .top-header .container .header-search .search-key-words li:hover {
  background-color: #FAFAFA;
}
.header .top-header .container .header-search .search-key-words li a {
  width: 100%;
  line-height: 30px;
  text-decoration: none;
  padding-left: 15px;
  font-size: 12px;
  color: #424242;
  display: block;
}
.main .container {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative;
}
.main .container img {
  display: block;
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: absolute;
  /*初始化时完全透明*/
  opacity: 0;
  /*过渡2s 图片由完全透明--> 不透明*/
  transition: 2s;
}
.main .container .imgOn {
  /*图片不透明*/
  opacity: 1;
}
.main .container .cycle-list {
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}
.main .container .cycle-list a {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  background-clip: content-box;
  float: left;
  margin: 0 4px;
  cursor: pointer;
  border: 2px solid hsla(0, 0%, 100%, 0.3);
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}
.main .container .cycle-list a:hover {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
.main .container .cycle-list .main-active {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
.height0 {
  height: 0;
}
/*# sourceMappingURL=index.css.map */