@themeColor: #ff6700;

body {
  /*字体族*/
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  /*字体颜色*/
  color: #333;
  /*最小宽度, 设置后浏览器视口缩小到min-width以下, body宽度仍为min-width*/
  min-width: 1226px;
  height: 1500px;
  background-color: #fff;
}

.header {
  .top-bar {
    height: 40px;
    //line-height: 40px;
    background-color: #333;

    .container {
      width: 1226px;
      margin: 0 auto;
      color: #b0b0b0;
      font-size: 12px;
      line-height: 40px;

      a {
        //height: 40px;
        //line-height: 40px;
        font-size: 12px;
        /* inline-block 让鼠标划入块中就相当于划入a标签*/
        display: inline-block;
        color: #b0b0b0;
        text-decoration: none;
      }

      a:hover {
        color: #fff;
      }

      .line {
        //.3em = 0.3*(font-size: 12px)=3.6px
        /* .3em = 0.3*(font-size: 12px)=3.6px */
        margin: 0 .3em;
        color: #424242;
      }

      .top-bar-nav {
        /*float: left;*/
        /*background-color: aquamarine;*/
        //color: #b0b0b0;
        font-size: 12px;
        float: left;

        a {
          line-height: 40px;
          display: inline-block;
          color: #b0b0b0;
          text-decoration: none;
        }

        a:hover {
          color: #fff;
        }

        .line {
          //.3em = 0.3*(font-size: 12px)=3.6px
          /* .3em = 0.3*(font-size: 12px)=3.6px */
          margin: 0 .3em;
          color: #424242;
        }

        .downloadApp {
          position: relative;

          .triangle {
            width: 0;
            height: 0;
            border: 8px solid #fff;
            border-color: transparent transparent #fff transparent;
            position: absolute;
            top: 24px;
            left: 14px;
            display: none;
            z-index: 9999;
          }

          .qrCode {
            width: 124px;
            height: 0;
            //display: inline-block;
            overflow: hidden;
            background-color: #fff;
            position: absolute;
            top: 40px;
            left: -40px;
            //left: -40px;
            //box-sizing: border-box;
            //border: 1px solid crimson;
            z-index: 999;
            //display: none;
            //box-shadow: 0px 0px 0px 0px #fff, 0 0 10px rgba(0, 0, 0, .3), 0 0 10px rgba(0, 0, 0, .3), 0 0 10px rgba(0, 0, 0, .3);
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);

            /* transition: 用于为样式设置过渡效果 */
            transition: height .3s;

            img {
              width: 90px;
              //height: 90px;
              margin: 17px;
              margin-bottom: 10px;
            }

            span {
              color: #424242;
              font-size: 14px;
              line-height: 1;
              margin-left: 19px;
              //margin: 0 auto;
            }
          }
        }

        .downloadApp:hover .qrCode {
          height: 148px;

          img {
            display: block;
          }

          span {
            display: block;
          }
        }

        .downloadApp:hover .triangle {
          display: block;
        }
      }

      .top-bar-userInfo {
        float: right;
        margin-right: 25px;
      }

      .top-bar-shopCar {
        width: 120px;
        height: 40px;
        float: right;
        background-color: #424242;
        box-sizing: border-box;
        position: relative;

        a {
          height: 40px;
          width: 120px;
          text-align: center;
          box-sizing: border-box;
        }

        .icon-gouwuchekong {
          font-size: 15px;
        }

        &:hover a {
          color: @themeColor;
          background-color: #fff;
        }


        .top-bar-shopCar-menu {
          width: 315px;
          height: 0;
          background-color: #fff;
          box-sizing: border-box;
          position: relative;
          right: 195px;
          top: -1px;
          display: block;
          overflow: hidden;
          transition: height .3s;
          text-align: center;
          z-index: 999;
          box-shadow: 0 2px 2px rgba(0, 0, 0, .2);

          .empty-msg {
            color: #333;
            line-height: 100px;
          }
        }

        &:hover .top-bar-shopCar-menu {
          height: 100px;
        }
      }
    }
  }


  .top-header {
    width: 100%;
    height: 100px;
    position: relative;

    .container {
      width: 1226px;
      height: 100px;
      margin: 0 auto;

      .header-logo {
        float: left;
        width: 55px;
        height: 55px;
        margin-top: 22.5px;
        background-color: @themeColor;
        position: relative;
        overflow: hidden;

        a {
          /*让文字向左缩进*/
          text-indent: -99999px;
          width: 55px;
          height: 55px;
          /*绝对定位会改变元素的性质，行内变成块，块的宽高被内容撑开*/
          position: absolute;
          //background-size: contain;
          background-position: center;
          //vertical-align: center;
          transition: left .2s;
        }

        .mi-logo {
          left: 0px;
          background-image: url("../img/mi-logo.png");
        }

        .mi-home {
          left: -55px;
          background-image: url("../img/mi-home.png");
        }

        &:hover {
          .mi-logo {
            left: 55px;
          }

          .mi-home {
            left: 0px;
          }
        }

      }


      .header-nav {
        width: 850px;
        height: 100px;
        background-color: #fff;
        margin-left: 6px;
        float: left;

        ul {
          li {
            float: left;
            font-size: 16px;
            line-height: 100px;

            a {
              color: #333;
              padding: 0 10px;
              text-decoration: none;

              &:hover {
                color: @themeColor;
              }
            }

          }

          .Js-header-nav-li {
            &:hover {
              &~.header-nav-menu {
                height: 200px;
                border-top: 1px solid #E0E0E0;
                box-shadow: 0 5px 2px rgba(0, 0, 0, .1);
              }
            }
          }

          .header-nav-menu {
            width: 100%;
            height: 0;
            /*设置透明的1px,防止隐藏式内部抖动*/
            border-top: 1px solid transparent;
            overflow: hidden;
            background-color: #fff;
            /*
            给父级元素top-header(宽度满屏) 相对定位
            开启自身绝对定位
            则自身宽度可以继承自top-header, 达到满屏效果
            */
            position: absolute;
            top: 100px;
            left: 0;
            transition: all .5s;

            &:hover {
              height: 200px;
              border-top: 1px solid #E0E0E0;
              box-shadow: 0 5px 2px rgba(0, 0, 0, .1);
            }
          }

          .all-goods {
            margin-left: 52px;
            margin-right: 5px;
            //visibility: hidden;
            position: relative;
            a:hover {
              color: #333;
            }

            .categoryList {
              width: 234px;
              height: 420px;
              padding: 20px 0;
              position: absolute;
              //border: 1px solid crimson;
              top: 100px;
              left: -113px;
              background-color: #969B9D;
              //box-sizing: border-box;
              border: none;

              li {
                width: 100%;
                //border: 1px solid crimson;
                //display: block;

                a {
                  //color: #fff;

                  display: block;
                  height: 42px;
                  line-height: 42px;
                  padding-left: 30px;
                  padding-right: 20px;
                  font-size: 14px;
                  color: #fff;


                  &:hover {
                    background-color: @themeColor;
                  }

                  .icon-tubiaozhizuo-:before {
                    font-size: 14px;
                    float: right;
                  }

                }
              }
            }

          }
        }
      }

      .header-search {
        float: right;
        width: 296px;
        margin-top: 25px;
        height: 50px;

        transition: border .3s;

        input.search-txt {
          box-sizing: border-box;
          width: 245px;
          height: 50px;
          padding: 0 10px;
          float: left;
          outline: none;
          border: 1px solid #e0e0e0;
          border-right: none;
          transition: border .3s;

          &:hover {
            border-color: #b0b0b0;

            &+.search-btn {
              border-color: #b0b0b0;
            }
          }

          &:focus {
            border-color: @themeColor;

            &~.search-btn {
              border-color: @themeColor;
            }

            &~.search-key-words {
              height: 180px;
              border: 1px solid @themeColor;
              border-top: none;
            }
          }
        }

        .search-btn {
          width: 51px;
          height: 50px;
          float: left;
          box-sizing: border-box;
          border: 1px solid #e0e0e0;
          transition: border,background-color .3s;
          //background-color: #795da3;

          &:hover {
            background-color: @themeColor;
            border-color: transparent;

            span {
              color: #fff;
            }
          }

          span {
            width: 51px;
            height: 50px;
            font-size: 18px;
            font-weight: bold;
            color: rgb(97,97,97);
            line-height: 50px;
            padding-left: 15px;
          }
        }

        .search-key-words {
          width: 246px;
          height: 181px;
          position: absolute;
          //background-color: #0086b3;
          box-sizing: border-box;

          top: 75px;
          height: 0;

          overflow: hidden;
          z-index: 99;

          li {
            height: 30px;

            &:hover {
              background-color: #FAFAFA;
            }
            a {
              width: 100%;
              line-height: 30px;
              text-decoration: none;
              padding-left: 15px;
              font-size: 12px;

              color: #424242;
              display: block;
            }
          }
        }
      }
    }
  }
}

.height0 {
  height: 0;
}

